<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pahanez.wallpaper.cpu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-feature android:name="android.software.live_wallpaper" />

    <application
        android:name="com.pahanez.wallpaper.cpu.WallApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <service
            android:name="com.pahanez.wallpaper.cpu.CustomWallPaperService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <activity
            android:name="com.pahanez.wallpaper.cpu.settings.WallPaperSettings"
            android:exported="true"
            android:label="@string/menu_settings"
            android:theme="@android:style/Theme.Light.WallpaperSettings" />
    </application>

</manifest>